<h1>New client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :identificacion %><br />
    <%= f.text_field :identificacion %>
  </p>
  <p>
    <%= f.label :nombre_completo %><br />
    <%= f.text_field :nombre_completo %>
  </p>
  <p>
    <%= f.label :edad %><br />
    <%= f.text_field :edad %>
  </p>
  <p>
    <%= f.label :ciudad %><br />
    <%= f.select (:ciudad, %w{Bogotá Medellín Cali Cartagena }) %>
  </p>
  <p>
    <%= f.label :sexo %><br />
    <%= f.select(:sexo, %w{ Masculino Femenino}) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>
